h1 {
    background: rgb(196, 196, 196);
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    }

div {
    background: white;
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15;
    text-align: center;
    }

input {
    border: 1px solid;
    border-radius: 5px;
    text-transform: capitalize;
}

td {
    text-transform: capitalize;
}

tr {
    height: 35px;
}

.bold {
    font-weight: bold;
}

#rimuovi:hover,
#modifica:hover {
    background: #333;
    border: 1px solid #333;
    color: white;
    cursor: pointer;
}

#aggiungi:hover,
#buttonLista:hover,
#creaLista:hover {
    background: #333;
    border: 2px solid #333;
    color: #fff;
    cursor: pointer;
}

#aggiungi,
#creaLista {
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    padding: 0.3rem;
    box-shadow: 2px 2px 1px rgb(94, 94, 94);
}

#buttonLista {
    vertical-align: middle;
    text-align: center;
    width:100px; 
    height:50px; 
    border:2px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(94, 94, 94);
}

#form {
    background: white;
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

#boxTot {
    width:400px; 
    height:50px; 
    margin: auto;
    border: 2px solid;
    border-radius: 5px;
    line-height: 50px;
    padding: 0px 30px 0px 30px;
    word-break: keep-all;
    box-shadow: 3px 3px 2px rgb(94, 94, 94);
}

#boxTitle {
    width: 400px;
    padding: 0px 30px 0px 30px;
    height:50px; 
    border:1px solid;
    margin: auto;
    border: 2px solid;
    border-radius: 5px;
    line-height: 50px;
}

#boxLista {
    border-radius: 5px;
    width:600px; 
    height:50px; 
    text-align: center;
    border:1px solid;
    padding:8px;
    border-spacing: 0px;
    background-color: rgb(196, 196, 196);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
  }
  
  .close, .closeMod {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

  }
  
  .close:hover,
  .close:focus,
  .closeMod:hover,
  .closeMod:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }